<launch>
<node pkg="tf" type="static_transform_publisher" name="map_camera_broadcaster" args="1 0 0 1.5708 0 0 map camera_link 100" />
<node pkg="tf" type="static_transform_publisher" name="camera_optical_broadcaster" args="0 -0.045 0 -1.571 -0 -1.571 camera_link openni_rgb_optical_frame 100" />

<!--  <include file="$(find pointcloud_saver)/launch/openni.launch" /> -->
  <node pkg="pointcloud_saver" name="pointcloud_saver" type="pointcloud_saver_node" output="screen">
    <param name="target_frame" value="/map" />
    <param name="save_path" value="pointclouds" />
  </node>
</launch>
